.toast-container {
  width: 100%;
  max-width: 400px;
  z-index: 99999;

  .basic-toast {
    background-color: #ef7820;
    .toast-body {
      .toast-content {
        height: 100%;
        max-height: 50px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 5px;
        flex-direction: column;
        p {
          font-family: var(--font-family) !important;
          color: #ffffff;
          margin: 0;
          &:first-child {
            font-weight: 600;
          }
        }
      }
    }
    svg {
      width: 25px;
      height: 18px;
    }
  }
}
