.select-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 8px;

  label {
    color: var(--text-color);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }

  .generic-select-container {
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    line-height: 21px;
    .generic-select__control {
      height: 100%;
      min-height: 55px;
      background-color: transparent;
      border: 0.5px solid var(--border-color);
      border-radius: 7px;
      padding-left: 10px;
      font-size: 14px;
      .generic-select__value-container {
        .generic-select__placeholder{
          color: var(--text-color);
          opacity: 0.5;
        }
        .generic-select__input-container{
          color: var(--text-color);
        }
        .generic-select__single-value {
          color: var(--text-color);
          font-size: 14px;
        }
      }
      &:hover {
        border: 0.5px solid var(--border-color);
      }
      &::placeholder {
        opacity: 0.5;
      }
      &.generic-select__control--is-focused {
        border: 0.5px solid var(--border-color);
        box-shadow: none;
      }
      .generic-select__indicators {
        transition: 0.2s ease-in all;
        .generic-select__indicator-separator {
          display: none !important;
        }
        .generic-select__clear-indicator{
          svg{
            width: 22px;
            cursor: pointer;
          }
        }
      }
    }

    .generic-select__menu {
      .generic-select__menu-list {
        padding: 0px 5px;
        .generic-select__menu-notice{
          cursor: not-allowed;
          color: var(--text-color);
        }
        .generic-select__option {
          font-size: 14px;
          font-weight: 400;
          line-height: 16.94px;
          text-align: left;
          color: var(--text-color);
          padding: auto 10px;
          border-bottom: 0.5px solid var(--border-color);
          cursor: pointer;
          &:last-child {
            border: none;
          }
          &.generic-select__option--is-focused {
            background-color: var(--secondary-color);
            color: var(--text-color);
          }
        }
      }
    }
  }
  .template-select{
    .generic-select__control{
      .generic-select__value-container{
        .generic-select__placeholder{
          color: #000;
        }
        .generic-select__input-container{
          color: #000;
        }
        .generic-select__single-value {
          color: #000;
        }
      }
    }

    .generic-select__menu {
      .generic-select__menu-list {
        .generic-select__menu-notice{
          color: #000;
        }
        .generic-select__option {
          color: #000;
          border-bottom: 0.5px solid #303030;
          &:last-child {
            border: none;
          }
          &.generic-select__option--is-focused {
            color: #000;
          }
        }
      }
    }
  }
  
  .gallery-select{
    .generic-select__control{
      background-color: #fff !important;
      min-height: 40px !important;
      border-radius: 3px !important;
      min-width: 320px !important;
      .generic-select__value-container{
        .generic-select__placeholder{
          color: #000;
        }
        .generic-select__input-container{
          color: #000;
        }
        .generic-select__single-value {
          color: #000;
        }
      }
    }

    .generic-select__menu {
      .generic-select__menu-list {
        .generic-select__menu-notice{
          color: #000;
        }
        .generic-select__option {
          color: #000;
          border-bottom: 0.5px solid #3030303f;
          &:last-child {
            border: none;
          }
          &.generic-select__option--is-focused {
            color: #000;
          }
        }
      }
    }
  }
}
