.select-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 8px;

  label {
    color: var(--textColor);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 5px;
  }

  .generic-select-container {
    width: 100%;
    cursor: pointer;
    font-size: 16px;
    line-height: 21px;
    .generic-select__control {
      height: 100%;
      min-height: 55px;
      background-color: transparent;
      border: 0.5px solid var(--borderColor);
      border-radius: 7px;
      padding-left: 10px;
      font-size: 14px;
      .generic-select__value-container {
        .generic-select__single-value {
          color: var(--textColor);
          font-size: 14px;
        }
      }
      &:hover {
        border: 0.5px solid var(--borderColor);
      }
      &::placeholder {
        opacity: 0.5;
      }
      &.generic-select__control--is-focused {
        border: 0.5px solid var(--borderColor);
        box-shadow: none;
      }
      .generic-select__indicators {
        transition: 0.2s ease-in all;
        .generic-select__indicator-separator {
          display: none !important;
        }
      }
    }

    .generic-select__menu {
      background-color: var(--mainBackgroundColor);
      .generic-select__menu-list {
        padding: 0px 5px;
        .generic-select__option {
          font-size: 14px;
          font-weight: 400;
          line-height: 16.94px;
          text-align: left;
          color: var(--textColor);
          padding: auto 10px;
          border-bottom: 0.5px solid var(--borderColor);
          cursor: pointer;
          &:last-child {
            border: none;
          }
          &.generic-select__option--is-focused {
            background-color: var(--secondaryColor);
            color: var(--textColor);
          }
        }
      }
    }
  }
}
