.input-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;

  .basic-label {
    font-size: 14px;
    font-weight: 400;
    font-family: Inter;
  }

  .input-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--inputBorderColor);
    border-radius: 7px;
    height: 100%;
    min-height: 55px;
    width: 100%;
    background-color: var(--inputBgColor);

    .basic-input {
      width: 100%;
      padding: 5px 20px;
      background: transparent;
      font-size: 14px;
      font-weight: 400;
      color: var(--inputTextColor);
      font-family: Inter;
      border: none;
      border-radius: 7px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        opacity: 50%;
        color: var(--inputTextColor);
      }
    }

    .search-input-button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: '';
        position: absolute;
        background-color: #303030;
        height: 100%;
        width: 1px;
        top: 0;
        right: 40px;
      }
      svg {
        margin-right: 10px;
        cursor: pointer;
      }
    }

    .cancel-input-button {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
          width: 15px !important;
        margin-right: 10px;
        cursor: pointer;
      }
    }
  }

  .focused {
    background-color: var(--inputSearchAppliedBg);
  }
}
