.input-layout {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  gap: 10px;

  .basic-label {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
  }

  .input-with-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--border-color);
    border-radius: 7px;
    height: 100%;
    min-height: 55px;
    width: 100%;
    background: #fff;

    .basic-input {
      width: 100%;
      padding: 5px 20px;
      background: transparent;
      font-size: 14px;
      font-family: var(--font-family) !important;
      font-weight: 400;
      line-height: 24px;
      color: var(--text-color);
      border: none;
      border-radius: 7px;
      &:focus {
        outline: none;
      }
      &::placeholder {
        opacity: 50%;
        color: var(--text-color);
      }
    }
    .builder-input {
      color: #000;
      &::placeholder {
        color: #000;
      }
    }

    .search-input-button {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      &::before {
        content: '';
        position: absolute;
        background-color: #303030;
        height: 100%;
        width: 1px;
        top: 0;
        right: 40px;
      }
      svg {
        margin-right: 10px;
        cursor: pointer;
      }
    }

    .cancel-input-button {
      display: flex;
      justify-content: center;
      align-items: center;
      svg {
        width: 15px !important;
        margin-right: 10px;
        cursor: pointer;
      }
    }

    &.errorBorder {
      border: 1.5px solid var(--error-color);
    }
  }

  .focused {
    background-color: var(--secondary-color);
  }

  .galleryInput {
    min-height: 40px !important;
    border-radius: 3px !important;
  }

  .file-upload-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0.5px solid var(--border-color);
    border-radius: 8px;
    padding: 20px;
    background-color: #fff;
    width: 100%;
    height: 135px;
    position: relative;

    .file-input {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      cursor: pointer;
    }

    .upload-area {
      text-align: center;

      .upload-icon {
        font-size: 32px;
        color: #ff6347; /* Customize color */
        margin-bottom: 10px;
      }

      .upload-text {
        color: #ff6347; /* Customize color */
        font-weight: 400;
        text-decoration: underline;
        cursor: pointer;
      }

      .upload-info {
        margin-top: 10px;
        color: #545454;
        font-size: 12px;
      }
    }
  }

  .uploaded-files {
    width: 100%;
  }

  h3 {
    font-size: 14px;
    font-weight: 400;
    color: var(--text-color);
    margin-bottom: 10px;
  }

  .file-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;

    .file-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 5px;
      border-radius: 4px;
      margin-right: 10px;
      width: 50px;
    }

    .file-details {
      flex-grow: 1;

      .file-name {
        font-size: 14px;
        margin: 0;
        font-weight: 500;
        color: #303030;
      }

      .file-size {
        font-size: 12px;
        color: #b3b3b3;
        font-weight: 300;
      }
    }

    .file-remove {
      display: flex;
      align-items: center;
      cursor: pointer;
    }
  }
}

.gallery-input-layout {
  min-width: 320px !important;
}
