.polotno-panel-container {
  overflow-y: auto;

  & .custom-template-section {
    display: 'flex';
    flex-wrap: 'wrap';
    overflow-y: 'scroll';

    & .title {
      & span {
        font-size: 16px;
        font-weight: 600;
        color: #ed5c2f;
      }
    }
    @mixin designCommonStyles {
      width: 320px;
      height: 224px;
      border-radius: 3px;
      border: 0.5px solid #303030;
      margin: 10px auto;
      cursor: pointer;
    }
    & .default-design {
      @include designCommonStyles;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      & p {
        color: #303030;
        font-weight: 600;
        font-size: 12px;
        line-height: 14.52px;
        margin-top: 5px;
      }
    }
    & .design-template {
      @include designCommonStyles;
      & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }

  .dummy-image {
    padding: 85px;
    object-fit: fill !important;
  }

  .MuiTabs-indicator {
    background-color: #ed5c2f !important;
  }

  .templateTabsWrapper {
    width: 100%;
    max-width: 480px;

    @media (width <= 800px) {
      max-width: none !important;
    }

    .templateTabs {
      .MuiTabScrollButton-root {
        width: 15px;
        opacity: 1 !important;
        &:hover {
          svg {
            color: #ed5c2f !important;
          }
        }
        .Mui-disabled {
          opacity: 1 !important;
        }
      }
    }
  }

  .noTemplateText {
    height: 100%;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      color: var(--text-color);
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  .searchWrapper {
    margin: 16px 0;
  }
}
