.polotno-container {
  .builder-wrapper {
    @media (max-width: 600px) {
      display: none;
    }
    .polotno-side-panel {
      & .polotno-side-tabs-container {
        & .polotno-side-tabs-inner {
          & .polotno-side-panel-tab {
            color: var(--text-color);
            &.active,
            &:hover {
              background-color: var(--secondary-color);
              opacity: 0.8;
              color: var(--primary-color);
              svg {
                color: var(--primary-color);
                path {
                  fill: var(--primary-color) !important;
                }
              }
            }
          }
        }
      }
      & .polotno-panel-container {
        & > div > p {
          display: none;
        }
        .bp5-tabs {
          .bp5-tab-list {
            .bp5-tab-indicator-wrapper {
              .bp5-tab-indicator {
                background-color: var(--primary-color);
              }
            }
            .bp5-tab[aria-selected='true'] {
              color: var(--primary-color);
              &:focus {
                outline: none;
              }
            }
            .bp5-tab[aria-selected='false'] {
              color: #000;
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
    .polotno-workspace-container {
      background-color: transparent !important;
    }
  }

  .show-loader {
    &::after {
      content: '';
      position: absolute;
      width: 50px;
      height: 50px;
      top: 50%;
      left: 50%;
      border-radius: 50%;
      border: 4px solid var(--primary-color);
      border-right: 3px solid transparent;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
      animation: circularAnimation 2s linear infinite;
    }

    @keyframes circularAnimation {
      0% {
        transform: translate(-50%, -50%) rotate(0deg);
      }
      100% {
        transform: translate(-50%, -50%) rotate(360deg);
      }
    }
  }

  .hide-loader {
    &::after {
      display: none !important; /* Hide the pseudo-element */
    }
  }

  .bp5-popover-transition-container {
    z-index: 2200 !important;
  }
}