.polotno-container {
  .builder-wrapper {
    @media (max-width: 600px) {
      display: none;
    }
    .polotno-side-panel {
      & .polotno-side-tabs-container {
        background-color: var(--mainBackgroundColor);
        & .polotno-side-tabs-inner {
          & .polotno-side-panel-tab {
            color: var(--textColor);
            &.active,
            &:hover {
              background-color: var(--secondaryColor);
              opacity: 0.8;
              color: var(--primaryColor);
              svg {
                color: var(--primaryColor);
                path {
                  fill: var(--primaryColor) !important;
                }
              }
            }
          }
        }
      }
      & .polotno-panel-container {
        background-color: var(--mainBackgroundColor);
        & > div > p {
          display: none;
        }
        .bp5-tabs {
          .bp5-tab-list {
            .bp5-tab-indicator-wrapper {
              .bp5-tab-indicator {
                background-color: var(--primaryColor);
              }
            }
            .bp5-tab[aria-selected='true'] {
              color: var(--primaryColor);
              &:focus {
                outline: none;
              }
            }
            .bp5-tab[aria-selected='false'] {
              color: var(--textColor);
              &:focus {
                outline: none;
              }
            }
          }
        }
      }
    }
    .polotno-workspace-container {
      background-color: transparent !important;
    }
  }
}

.bp5-popover-transition-container {
  z-index: 2200 !important;
}
