.snackbar {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;

  p {
    font-family: 'Inter';
    font-size: 14px;
    margin: 0;
    &:first-child {
      font-weight: 600;
      font-size: 16px;
    }
  }
}
