.templateCard {
  // width: 316px;
  border-radius: 3px;
  flex-basis: 316px;

  .templateImage {
    position: relative;
    cursor: pointer;

    .basic-img{
      border-radius: 7px;
      padding: 1.5px;
      box-shadow: inset 0 0 0 2px #ed5b2f6f;
      width: 100%;
    }
    // postcard-one
    .postcard-one {
      height: 316.37px;
    }
    // real-penned
    .real-penned {
      height: 489.59px;
    }
    // personal-letters
    .personal-letters {
      height: 489.93px;
    }
    // professional-letters
    .professional-letters {
      height: 407.57px;
    }
    // bi-fold
    .bi-fold {
      height: 162.8px;
      width: 487.8px;
    }
    // tri-fold
    .tri-fold {
      height: 411.55px;
    }
    &:hover {
      .tempButton {
        display: flex !important;
      }

      .flipWrapper {
        display: flex;
      }
    }

    .tempButton {
      display: none !important;
      transition: 0.3s ease-in all !important;
      position: absolute !important;
      top: 10px !important;
      right: 10px !important;
      max-height: 35px !important;
      background-color: var(--primary-color);
      color: #fff;
      text-transform: capitalize;
      border-radius: 6px;
      transition: 0.3s ease-in all !important;
    }

    .flipWrapper {
      display: none;
      position: absolute;
      bottom: 30px;
      left: 40%;
      width: 60px;
      height: 20px;
      background-color: #00000049;
      border-radius: 99999px;
      justify-content: center;
      align-items: center;
      gap: 2px;
      svg {
        width: 16px;
        height: 16px;
      }
    }
  }

  .templateName {
    font-size: 18px;
  }

  .templateID {
    font-size: 16px;
    color: #6a6565;
    font-weight: 400;
    margin-top: 7px;
  }
}
