// variables

// background colors
$bgLight: #fff7ea;
$bgTransparent: rgba(0, 0, 0, 0.5);
$bgLight300: #fff9f0;
$bgGrey: #f7fffb;
$bgPrimary: #f28230;
$bgPrimary800: #ef7820;
$bgGrey500: #f9f9f9;
$formLayoutBg: linear-gradient(
  252deg,
  #eec5b3 11.65%,
  #ffceb3 26.15%,
  #ffe4b4 42.72%,
  #ffe4b3 61.64%,
  #fbcbb4 80.93%,
  #e2b9b3 100%
);
// primary color
$primary-color: #ed5c2f;
// dark shades
$black: #000;
$black200: rgba(68, 66, 65, 0.3);
$black300: rgba(0, 0, 0, 0.5);
$black400: #303030;
$black700: #000000bf;
$dark800: #080808;
$blue: #212b36;
// yellow shades
$yellow: #fab331;
$yellow300: #fff8ee;
$yellow400: #fdecd3;
$yellow500: #ffdec0;
// light shades
$white: #fff;
$grey: #545454;
$grey300: #aaa;
$grey400: #2b2b2a;
$grey500: #444241;
$grey800: #222221;
$light: rgba(255, 248, 238, 1);
$light300: #f4f4f4;
$grey: #696969;
$greyCheckBox: #d1d5db;
// red shades
$red: #ff0000;
$red400: rgba(255, 0, 0, 1);
// green shades
$green500: #03a155;
$success: #7ed321;
$bgSuccess: #01bb62;
// orange shade
$iconColor: rgba(237, 92, 47, 1);
// brown shades
$brown300: rgba(255, 192, 184, 0.23);

// Stripe Variables
$stripeBlue: #0570de;
$stripeText: #30313d;
$stripeDanger: #df1b41;