.basic-button {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  max-width: fit-content;
  padding: 0px 10px;
  font-size: 16px;
  cursor: pointer;
  height: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  position: relative;
  
  &.disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
  .backdrop{
    opacity: 0;
    transition: opacity 0.1s ease-in !important;
    background: #00000012 !important;
    position: absolute !important;
    top: 0px !important;
    left: 0px !important;
    width: 100% !important;
    height: 100% !important;
    border-radius: 3px !important;
  }
  &:hover{
    .backdrop{
      opacity: 1 !important;
    }
  }
}
