@mixin errorField() {
  font-size: 14px;
  font-weight: 400;
  color: var(--red);
  line-height: 16.94px;
}

.createTemplateMaindiv {
  .createTemplateMainBox {
    position: relative;
    height: 100%;

    .tempTypeRadioWrapper {
      padding: 20px 0px 30px 0px;
      border-left: none;
      border-right: none;
      margin-left: 40px;

      .tempTypeRadioHeading {
        p {
          color: var(--textColor);
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
      }

      .tempTypeRadioBox {
        margin-top: 20px;
        margin-bottom: 10px;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        gap: 25px;

        .tempRadio {
          cursor: pointer;
          input {
            &:checked {
              accent-color: var(--primaryColor);
            }

            &:focus {
              outline: none !important;
            }
          }

          label {
            cursor: pointer;
            color: var(--textColor);
            font-size: 14px;
            font-style: normal;
            font-weight: 500;
            line-height: normal;
          }
        }
      }

      & .error-field {
        @include errorField;
        margin-left: 5px;
      }
    }
  }
  .createTemplateHeader {
    padding-bottom: 15px;
    margin-left: 40px;
    
    p {
      color: var(--primaryColor);
      font-size: 24px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      margin-bottom: 20px;
    }

    .templateInputWrapper {
      p {
        color: var(--textColor);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 16px;
      }

      & .error-field {
        @include errorField;
        margin-top: 10px !important;
      }
    }
  }

    .templateSelectWrapper {
      padding-bottom: 15px;
      margin: 20px 0px 0px 40px;
      p {
        color: var(--textColor);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 16px;
      }

      & .error-field {
        @include errorField;
        margin-top: 10px !important;
        font-weight: 400;
      }
    }
  

  .productTypeWrapper {
    padding: 20px 0px;
    margin-left: 40px;

    .productHeading {
      p {
        &:first-child {
          color: var(--textColor);
          font-size: 14px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }

        &:last-child {
          color: var(--primaryColor);
          font-size: 10px;
          font-style: normal;
          font-weight: 400;
          line-height: 18px;
          text-decoration-line: underline;
        }
      }
    }

    .productsWrapper {
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 25px;

      .productCard {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        border-radius: 6.299px;
        border: 0.45px solid var(--borderColor);
        background: var(--productCardBgColor);
        width: 100%;
        max-width: 185px;
        height: 100%;
        min-height: 135px;
        cursor: pointer;
        transition: 0.1s ease-in all;
        gap: 17px;

        &.active,
        &:hover {
          background: var(--productCardBackgroundColorActive);
          border-color: var(--primaryColor);
        }

        p {
          color: var(--primaryColor);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin: 0;
        }

        &:last-child {
          img {
            margin-bottom: 5px !important;
          }
        }

        &.error {
          border: 0.45px solid var(--red);
        }
      }
    }

    & .error-field {
      margin-top: 10px;
      @include errorField;
    }
  }

  .postCardSizeWrapper {
    padding: 20px 0px;
    margin: 0px 0px 80px 40px;

    .postCardHeading {
      p {
        color: var(--textColor);
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
    }

    .postCardWrapper {
      margin-top: 20px;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      gap: 25px;

      .postCard {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
        flex-direction: column;
        border-radius: 6.299px;
        border: 0.45px solid var(--borderColor);
        background: var(--postCardBgColor);
        cursor: pointer;
        padding: 13px 20px;
        transition: 0.1s ease-in all;

        svg {
          &:nth-child(2) {
            margin-bottom: 20px;
          }

          &:last-child {
            margin-bottom: 20px;
          }
        }

        svg {
          path {
            fill: var(--postCardSVGColor);
          }
        }

        &.active,
        &:hover {
          background: var(--postCardBackgroundColorActive);
          border-color: var(--primaryColor);

          svg {
            &:nth-child(2) {
              margin-bottom: 20px;
            }

            &:last-child {
              margin-bottom: 20px;
            }

            path {
              fill: var(--svgColor);

              &:hover {
                fill: var(--svgColor);
              }
            }
          }
        }

        p {
          color: var(--primaryColor);
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          margin: 0;
        }
      }

      .postCard-small {
        width: 100%;
        max-width: 150px;
        height: 100%;
        min-height: 148px;
      }

      .postCard-mid {
        width: 100%;
        max-width: 196px;
        height: 100%;
        min-height: 182px;
      }

      .postCard-large {
        width: 100%;
        max-width: 248px;
        height: 100%;
        min-height: 226px;
      }
    }

    & .error-field {
      margin-top: 10px;
      @include errorField;
    }
  }

  .footerBtns {
    position: fixed;
    width: 100%;
    bottom: 0;
    border-top: 0.5px solid var(--borderColor);
    background-color: var(--footerBgColor);

    .createTemplateBtns {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      gap: 20px;
      padding: 14px 95px 14px 35px;

      button {
        width: 100%;
        max-width: 100px;
        height: 100%;
        min-height: 40px;
        text-transform: capitalize;
        border-radius: 3px;

        &:first-child {
          color: var(--secondaryButtonTextColor);
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          border: 0.5px solid var(--borderColor);
          background-color: var(--secondaryButtonBgColor);
        }

        &:last-child {
          color: var(--primaryButtonTextColor);
          text-align: center;
          font-size: 14px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          background-color: var(--primaryButtonBgColor);
        }
      }
    }
  }
}

.mb-5 {
  margin-bottom: 6rem !important;
}

.error {
  border: 1.5px solid var(--red);
}
