.top-navigation-container {
  position: absolute;
  width: 100%;
  padding: 23px 20px;
  height: 100%;
  max-height: 70px;
  background: var(--white);
  margin: 0;
  top: 0;
  // z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.5px solid var(--black100);

  .middle {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    p {
      text-align: center;
      margin-bottom: 0px;
      font-size: 16px;
      font-weight: 500;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
    div{
      display: flex;
      justify-content: center;
      align-items: center;
        cursor: pointer;
        border-radius: 50%;
        padding: 5px;
        transition: 0.1s ease-in-out all;
        &:hover {
          background-color: var(--grey200);
        }
    }
  }

  & button {
    max-width: 120px !important;
    text-transform: capitalize;
    color: var(--black);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }

  & button.active {
    border: 0.5px solid var(--primaryColor);
    background: var(--primaryColor);
    color: var(--white);
    text-transform: capitalize;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    & p {
      color: var(--white);
    }
  }

  & .MuiGrid-item {
    padding-top: 0 !important;
  }

  & .left {
    justify-content: flex-start !important;
  }

  & .right {
    gap: 10px !important;

    & button {
      border-radius: 3px !important;
      text-transform: capitalize;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      &:first-child {
        color: var(--black);
        background-color: var(--white);
        border: 0.5px solid var(--black) !important;
        width: 100%;
        max-width: fit-content !important;

        &.loading {
          max-width: 123.65px !important;
        }
      }

      &:nth-child(2) {
        color: var(--primaryColor);
        background-color: var(--white);
        border: 0.5px solid var(--primaryColor) !important;
      }

      &:last-child {
        color: var(--white);
        background-color: var(--primaryColor);
      }
    }
  }

  .actionsBtnWrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
  }

  .templateCreateBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
}
