.dynamic-content {
  & .dynamic-content__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 8px auto;
    & .title {
      font-weight: 600;
      font-size: 16px;
      line-height: 19.36px;
      color: var(--primary-color);
      margin-right: 5px;
    }
    & .icon {
      width: 12px;
      height: 12px;
      cursor: pointer;
    }
  }

  & .divider {
    margin-top: 10px;
    color: #44424145;
  }

  & .contact-element {
    width: 100%;
    border-radius: 3px;
    border: 0.5px solid var(--border-color);
    text-align: center;
    height: 35px;
    line-height: 35px;
    margin: 5px auto;
    cursor: pointer;
    transition: 0.1s ease-in all;

    &:hover {
      background-color: var(--secondary-color);
    }
  }
  .copy {
    fill: #000 !important;
  }
}
