.basic-tooltip {
  width: 90% !important;
  max-width: fit-content !important;
  text-align: center !important;
  background-color: #ffffff !important;
  color: var(--textColor) !important;
  box-shadow: 0px 0px 12px 0px #989595 !important;
  opacity: 1 !important;
}
