:root {
  --font-family: 'Inter';
  --scrollbar-thumb-color: hsl(29, 100%, 88%);
  --scrollbar-track-color: grey;
  --primary-color: #ed5c2f;
  --secondary-color: #FFF8EE;
  --svg-color: #fdb515;
  --svg-color-not-active: #fdecd3;
  --text-color: #000;
  --modal-background-color: #FFF8EE;
  --notification-background-color: #EF7820;
  --notification-text-color: #fff;
  --border-color: #303030;
  --error-color: #ff0000;

  .builder-wrapper {
    font-family: var(--font-family) !important;
    margin: 0;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: var(--scrollbar-track-color) !important;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb-color) !important;
      border-radius: 3px;
    }

    @supports not selector(::-webkit-scrollbar) {
      body {
        scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
      }
    }

    .bp5-navbar {
      z-index: auto !important;
      border-bottom: 1px solid rgba(17, 20, 24, 0.1019607843) !important;
      @media (width <= 800px) {
        z-index: 100 !important;
      }
      .bp5-card {
        color: var(--text-color);
        background-color: transparent;
      }
      .polotno-side-tabs-container {
        .polotno-side-tabs-inner {
          @media (width <= 800px) {
            justify-content: center !important;
          }
        }
      }
    }

    .go4160152499,
    .polotno-workspace-inner,
    .polotno-panel-container,
    .polotno-panel-container > div,
    .polotno-panel-container > div > div,
    .polotno-panel-container > div > div > div {
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: var(--scrollbar-track-color) !important;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color) !important;
        border-radius: 3px;
      }

      @supports not selector(::-webkit-scrollbar) {
        body {
          scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
        }
      }
    }

    .polotno-panel-container > div > div {
      color: #000;
      p {
        color: #000;
      }
    }
  }
}
