:root {
  --font-family: "Inter";
  --scrollbar-thumb-color: hsl(29, 100%, 88%);
  --primaryColor: #ed5c2f;
  --secondaryColor: #FFF8EE;
  --svgColor: #fdb515;
  --svgColorNotActive: #fdecd3;
  --textColor: #000;
  --modalBackgroundColor: #FFF8EE;
  --notificationTextColor: #fff;
  --borderColor: #303030;
  --errorColor: #ff0000;

  body {
    font-family: var(--font-family) !important;
    padding: 70px 0 0;
    margin: 0;

    &::-webkit-scrollbar {
      width: 10px;
    }

    &::-webkit-scrollbar-track {
      background: var(--secondaryColor) !important;
      border-radius: 3px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--scrollbar-thumb-color) !important;
      border-radius: 3px;
    }

    @supports not selector(::-webkit-scrollbar) {
      body {
        scrollbar-color: var(--scrollbar-thumb-color) var(--secondaryColor);
      }
    }

    .bp5-navbar {
      z-index: auto !important;
      border-bottom: 1px solid rgba(17, 20, 24, 0.1019607843) !important;
      .bp5-card {
        color: var(--textColor);
        background-color: transparent;
      }
    }

    .go4160152499,
    .polotno-workspace-inner,
    .polotno-panel-container,
    .polotno-panel-container > div,
    .polotno-panel-container > div > div,
    .polotno-panel-container > div > div > div {
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: var(--secondaryColor) !important;
        border-radius: 3px;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--scrollbar-thumb-color) !important;
        border-radius: 3px;
      }

      @supports not selector(::-webkit-scrollbar) {
        body {
          scrollbar-color: var(--scrollbar-thumb-color) var(--secondaryColor);
        }
      }
    }

    .polotno-panel-container > div >div{
      color: #000;
      p{
        color: #000;
      }
    }
  }
}
